* {
  box-sizing: content-box;
  font-family: Inter Light, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

#navbar {
  font-size: larger;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(1, 1, 131, 0.5), rgba(71, 71, 212, 0.5));
  box-shadow: 0px 2px 10px black;
  height: 2.5rem;
}

.navbar-entry {
  color: silver;
  text-shadow: 2px 5px 3px black;
}

.navbar-entry:hover {
  color: rgb(227, 221, 221);
  cursor: pointer;
}

.screen {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  max-height: 100vh;
}

.screen-bg {
  background: linear-gradient(0deg, #ffef8917, #c0bfbb2e);
  border-radius: 15px;
  height: 80vh;
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

#study-card {
  background: linear-gradient(0deg, #ffef8917, #c0bfbb2e);
  border-radius: 15px;
  height: 50%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#answer-bar {
  min-width: 100%;
  cursor: pointer;
  padding: 0.5%;
  border-radius: 30px;
  width: 60%;
  margin: 1%;
  color: black;
  font-weight: 600;
  text-align: center;
  font-family: Inter, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 0px 0px 3px white;
  background: linear-gradient(90deg, rgba(216, 0, 0, 0.975), rgba(214, 214, 2, 0.9), rgba(0, 128, 0, 0.9));
  border: black 2px solid;
}
#answer-bar-arrow-3 {
  transform: scaleY(2) translate(1px);
}
#answer-bar-arrow-2 {
  transform: rotate(-10deg);
  grid-row: 1;
}
#answer-bar-arrow {
  transform: rotate(10deg);
  grid-row: 1;
}
#answer-bar-arrow-holder {
  margin: -10px;
  display: grid;
}
#answer-bar-arrow,
#answer-bar-arrow-2,
#answer-bar-arrow-3 {
  margin: -10;
  width: 2px;
  height: 15px;
  background-color: black;
}
#flip-button:active {
  background-color: orange;
}
#flip-button {
  height: 9%;
  margin: 3%;
  margin-bottom: 2%;
  width: 80%;
  background-color: rgb(84, 137, 234);
  border-radius: 10px;
  border: none;
  color: white;
  font-size: large;
  text-shadow: 0px 2px 1px black;
  box-shadow: 0px 3px 4px black;
}

#answer-bar-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(-45deg, rgb(1, 1, 131), rgb(71, 71, 212));
}

#Create-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}
.creation-card:active {
}
.creation-card, .creation-card-button {
  padding: 20%;
  text-align: center;
  background: linear-gradient(-45deg, rgb(101, 105, 157), rgb(131, 155, 212));
  box-shadow: 0px 0px 10px darkblue;
  margin: 10px;
  border-radius: 10px;
  border: none;
}
.creation-card-button:active {
  background: rgb(101, 105, 157);
}
.creation-card-button {
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

#creation-screen-right,
#creation-screen-left {
  width: 90%;
  justify-self: center;
}

.card-list-entry {
  background: linear-gradient(rgb(183, 182, 182), gray);
  border-radius: 10px;
  color: #333;
  padding: 10px;
  margin: 10px;
}

.card-list-entry:hover {
  color: white;
  text-shadow: 1px 1px 1px black;
}
